.itemContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
}

.deleteButton {
  background-color: #8f5c2c;
  color: white;
  border: 1px solid #8f5c2c;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

.productContainer {
  display: grid;
  grid-template-areas:
    'image price'
    '. name';
}

.productContainer img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  grid-area: 'image';
}

.productContainer h3 {
  margin-right: 1rem;
  grid-area: 'name';
}

.productContainer p {
  margin-right: 1rem;
  grid-area: 'price';
}

.quantityPicker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.quantityPicker button {
  background-color: #8f5c2c;
  color: white;
  border: 1px solid #8f5c2c;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.quantityPicker span {
  margin: 0 0.5rem;
}

@media (max-width: 768px) {
  .itemContainer {
    margin: 0.5rem;
    padding: 0.5rem;
  }
}