.itemContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  padding: 1rem;
}

.deleteButton {
  background-color: #8f5c2c;
  color: white;
  border: 1px solid #8f5c2c;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.productContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.productContainer img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  grid-row: 1 / span 2;
  align-self: center;
}

.productContainer h3 {
  margin-right: .5rem;
  grid-column: 2;
  grid-row: 1;
}

.productContainer p {
  margin-right: 1rem;
  grid-column: 2;
  grid-row: 2;
}

.quantityPicker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.quantityPicker button {
  background-color: #8f5c2c;
  color: white;
  border: 1px solid #8f5c2c;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.quantityPicker span {
  margin: 0 0.5rem;
}

@media (max-width: 768px) {
  .itemContainer {
    margin: 0;
    padding: 0;
  }

  .productContainer h3 {
    margin-right: 0.5rem;
    font-size: .6rem;
  }
}