.filtersContainer {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
}

.filtersForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filtersForm div {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.filtersForm .buttonsContainer {
    gap: 2rem;
}

.button {
    color: black;
    background: white;
    border: 1px solid black;
    padding: .5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.filterOrderSelect {
    padding: .2rem;
}

.filterButton {
    padding: .35rem;
}

.cleanFiltersButton {
    border: none;
    cursor: pointer;
}

.cleanFiltersButton:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .filtersContainer form {
        flex-direction: column;
    }

    .filtersContainer form > div {
        margin: .5rem 0;
    }

    .filtersContainer form > div:first-child {
        margin-top: 0;
    }

    .filtersContainer form > div:last-child {
        margin-bottom: 0;
    }

    .priceFilter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
