.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.loginForm h1 {
  margin: 10px;
  padding: 5px;
}

.loginForm input {
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loginForm button {
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.loginForm button:hover {
  background-color: #ccc;
  color: black;
}

.error {
  background-color: red;
  color: white;
}
