.productsListContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.productsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin: 20px 0;
  align-self: center;
  max-width: 1500px;
  padding: .5rem;
}

.productsList li {
  list-style: none;
  padding: 10px;
}

.productsList > * {
  justify-self: center;
}

@media screen and (max-width: 768px) {
  .productsList {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0;
    align-self: normal;
  }
}