.productContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  min-width: 280px;
  margin: 1.5rem auto;
  padding: 1rem;
  border: 1px solid #c7c095;
  border-radius: 5px;
}

.productImage {
  flex: 1 1 300px;
  height: 300px;
  padding: 50px;
}

.productImage > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.productInfo {
  flex: 1 1 300px;
  min-height: 3rem;
  padding: 0.5rem;
}

.name {
  font-weight: bold;
  font-size: 1.75rem;
  padding-left: 0.5rem;
}

.brand {
  font-size: 1rem;
  padding-left: 0.65rem;
  font-weight: light;
}

.description {
  height: 25%;
  margin: 0.75rem;
}

.price {
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  text-align: start;
}

.addToOrderButton {
  background-color: #c7c095;
  color: var(--color-text);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

.addToOrderButton:hover {
  background-color: white;
  color: #c7c095;
  border: 1px solid #c7c095;
}

.bidUp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 600px;
}

.bidUp > button {
  background-color: #c7c095;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}